@import url("colors.css");

/***** GRILLE *****/

ul.grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

ul.grid > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;

	padding: 64px;
}

ul.grid > li > img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
}

ul.grid > li > span.bigint {
	color: var(--color-secondary);
	font-size: 3rem;
	line-height: 1;
	text-align: center;
	font-weight: 800;
}

@media only screen and (min-width: 640px) {
	ul.grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

/***** CARROUSEL *****/

ul.carrousel {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

ul.carrousel > li {
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;

	padding: 64px;

	width: fit-content;
}

ul.carrousel > li > img {
	height: 96px;
	width: auto;
	object-fit: cover;
	border-radius: 8px;
}

ul.carrousel > li > span.bigint {
	color: var(--color-secondary);
	font-size: 3rem;
	line-height: 1;
	text-align: center;
	font-weight: 800;
}

/***** BUTTONS *****/

.btn-row {
	display: flex;
	gap: 32px;
}

a.button:not(.btn-secondary) {
	text-decoration: none;
}

button,
.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	background-color: var(--color-primary);
	color: white;
	font-family: var(--font-sans);
	font-size: 1rem;
	font-weight: 600;
	line-height: 100%;
	padding: 16px 24px;
	border: none;
	cursor: pointer;

	transition-duration: 150ms;
}

button:hover,
.button:hover {
	background-color: var(--color-primary-dark);
}

.btn-secondary {
	background-color: transparent;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color: transparent;
	text-underline-offset: 4px;

	padding-inline: 0 !important;
}

.btn-secondary:hover {
	background-color: transparent;
	text-decoration-color: var(--color-secondary);
}

/***** FORMS *****/

form {
	display: flex;
	flex-direction: column;
	gap: 16px;

	width: 80%;

	margin-inline: auto;
}

form .form-row {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	gap: 16px;
}

form .form-row * {
	flex: 1 1;
}

form label {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

form input,
form select,
form textarea {
	background-color: var(--color-surface);
	color: var(--color-surface-text);

	border: none;
	border-radius: 12px;

	padding-inline: 20px;
	padding-block: 16px;
}

form textarea {
	resize: vertical;
}

form input[type="submit"] {
	background-color: white;
	color: black;
}

/***** CARTES *****/

.artist-card {
	display: flex;
	flex-direction: column;
	gap: 24px;

	background-color: var(--color-surface);

	box-shadow: #00000040;
}

.artist-card > img {
	aspect-ratio: 4/3;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.artist-card > div {
	flex: 1 1;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 36px;
	padding-top: 0;
}
