@import url("colors.css");
@import url("fonts.css");

h1 {
	font-family: var(--font-title);
	font-size: 3rem;
	line-height: 1.2;

	text-decoration: underline;
	text-decoration-thickness: 6px;
	text-decoration-color: var(--color-primary);
	text-underline-offset: 8px;
}

h2:not(.subtitle) {
	color: var(--color-primary);
	font-family: var(--font-title);
	font-size: 2.25rem;
	line-height: 1.3;
}

h2.subtitle {
	font-family: var(--font-sans);
	font-size: 1.5rem;
	line-height: 1.4;
	font-weight: 200;
	letter-spacing: 5.5px;
	text-transform: uppercase;
}

h3 {
	font-family: var(--font-title);
	font-size: 1.75rem;
	line-height: 1.3;
}

h4 {
	font-family: var(--font-title);
	font-size: 1.25rem;
	line-height: 1.4;
}

h5 {
	font-family: var(--font-title);
	font-size: 1rem;
	line-height: 1.5;
}

h6 {
	font-family: var(--font-title);
	font-size: 1rem;
	line-height: 1.6;
}


/**** ELEMENTS *****/

a {
	color: var(--color-primary);
	font-weight: 600;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: transparent;
	text-underline-offset: 3px;
}

a:hover,
a:focus {
	text-decoration-color: var(--color-primary);
}
